* {
    border-radius: 0;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 13px;
    min-height: 0; 
}

window#waybar {
    background-color: rgba(18, 18, 18, 0.99);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
    background-color: transparent;
}
/*
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.firefox {
    background-color: #000000;
    color: #1a1a1a;
    border: none;
}

window#waybar.yuzu  {
    background-color: #c95d5d;
    color: #ffffff;
}
window#waybar.empty #mode,
window#waybar.empty #workspaces button.focused,
window#waybar.empty #clock,
window#waybar.empty #cpu,
window#waybar.empty #memory,
window#waybar.empty #temperature,
window#waybar.empty #network,
window#waybar.empty #pulseaudio,
window#waybar.empty #mode,
window#waybar.empty #window {
    background-color: #212121;
    color: #ffffff;
}

window#waybar.empty #workspaces button {
      color: #212121;
}

#workspaces button {
    padding: 0 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 2px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 4px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    background-color: #ffffff;
    color: #000000;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #ffffff;
}

#clock {
    margin-right: 4px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#window,
#idle_inhibitor,
#mpd {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 3px;
    color: #000000;
    background-color: #ffffff;
    border-radius:4px;
}
