:root {
   --bg-color: #212121;
   --accent-color: #212121;
}
* {
   --arrowpanel-background:var(--accent-color) !important;
   --tabs-border-color: var(--bg-color) !important;
}
menupopup {
    border-radius: 16px;
}

#tracking-protection-icon-container {
    border-image: none !important;
    border-inline-end: transparent !important;
}

.toolbar-items {
    margin-left: 10px;
}
#TabsToolbar {
     
}
.tabbrowser-tab {
     border-radius: 16px 16px 0 0 !important;
     color: #ffffff !important;
     background-color: var(--accent-color) !important;
}
#back-button > .toolbarbutton-icon {
     background: none !important;
     border: none !important;
     padding: 6px !important;
}
.tabbrowser-tab .tab-background[selected="true"]{
     border-radius: 16px 16px 0 0 !important;
     background-color: var(--accent-color) !important;
     background-image: none !important;
}
.tab-line {
     height: 0px !important;
}
.titlebar-spacer, #customizableui-special-spring1, #customizableui-special-spring2, #home-button, #library-button, #sidebar-button, #fxa-toolbar-menu-button, .tab-background-inner, .closing-tabs-spacer   {
     display: none !important;
}
#navigator-toolbox {
     background-color: var(--bg-color) !important;
}
#nav-bar {
     max-height: 35px !important;
     background-color: var(--accent-color) !important;
}
#PanelUI-button {
     border-color: var(--accent-color) !important;
     border-image-source: none !important;
}
#urlbar {
     border: transparent !important;
     background-color: var(--accent-color) !important;
     border-radius: 16px !important;
}
#urlbar[focused] {
     border: 2px solid #3eb489 !important;
}
#urlbar[focused] > #identity-box {
     fill: #3eb489;
     fill-opacity: 1;
} 
.urlbarView {
     background: none !important;
     background-color: var(--accent-color) !important;
     border-block: none !important;
}
#identity-box[pageproxystate="valid"].verifiedDomain > #identity-icon, #identity-box[pageproxystate="valid"].verifiedIdentity > #identity-icon {
     fill: #3eb489 !important;
     fill-opacity: 1 !important;
}
.tracking-protection-icon-box {
     fill: #aa6292 !important;
     fill-opacity: 1 !important;
}
#tabs-newtab-button {
     display: none !important;
}
.urlbarView:not(.megabar) .urlbarView-row:not([type="tip"])[selected] {
     background: none !important;
     color: none !important;
     // border-radius: 20px;
}
//#3eb489
