/* -moz-window-inactive */
:root {
   --bg-color: #2e3440;
   --fill-color: #eceff4;
   --fill-color-1: #d8dee9;
   --selected-url-bg: #ffffff;
   --selected-url-fg: #2e3440;
   --border-line-color: #4c566a;
}
* {
   --backbutton-active-background: none !important;
   --lwt-toolbarbutton-icon-fill: #d8dee9 !important;
   --toolbarbutton-outer-padding: none !important;
   --toolbarbutton-border-radius: 0px !important;
   --backbutton-hover-background: none !important;
   --toolbarbutton-hover-background: none !important;
   --toolbarbutton-active-background: none !important;
   --arrowpanel-background: var(--bg-color) !important;
   --tabs-border-color: var(--bg-color) !important;
}
.toolbarbutton-1 {
     fill-opacity: 1 !important;
}
menupopup {
    border-radius: 16px;
}

#tracking-protection-icon-container {
    border-image: none !important;
    border-inline-end: transparent !important;
}

.toolbar-items {
    margin-left: 10px;
}
.tab-text {
     color: #4c566a;
}
.tab-text[selected=true]{color: #d8dee9;}
.tabbrowser-tab {
     border-radius: 16px 16px 0 0 !important;
     color: #ffffff !important;
     background-color: var(--bg-color) !important;
}

.titlebar-buttonbox-container {
     margin-left: 5px !important;
}

#back-button > .toolbarbutton-icon {
     margin-left: 3px !important;
     padding: 6px !important;
     border: none !important;
     border-radius: 0px !important;
}
#back-button[disabled=true] > .toolbarbutton-icon, #forward-button[disabled=true] > .toolbarbutton-icon, #back-button[disabled=true] > .toolbarbutton-icon:hover, #forward-button[disabled=true]>.toolbarbutton-icon:hover, #forward-button:-moz-window-inactive .toolbarbutton-icon,#nav-bar-customization-target:-moz-window-inactive toolbarbutton {
     fill: #434c5e !important;
}
#forward-button[disabled=true] {
     opacity: 1 !important;
     fill-opacity: none !important;
}
#forward-button > .toolbarbutton-icon:hover {
     fill: #ffffff !important;
     fill-opacity: 1 !important;
}

#back-button[disabled=true] {
     opacity: 1 !important;
     fill-opacity: none !important;
}
#TabsToolbar {
     margin-top: 0px !important;
}
#nav-bar-customization-target toolbarbutton:hover, #nav-bar toolbarbutton:hover {
     opacity: 1 !important;
     fill-opacity: 1 !important;
     fill: var(--fill-color) !important;
     border: none !important;
}

#nav-bar-customization-target toolbarbutton {
     opacity: 1 !important;
}



.tabbrowser-tab .tab-background[selected="true"]{
     border-radius: 16px 16px 0 0 !important;
     background-color: var(--bg-color) !important;
     background-image: none !important;
}
.tab-line {
     height: 0px !important;
}
.titlebar-spacer, #customizableui-special-spring1, #customizableui-special-spring2, #home-button, #library-button, #sidebar-button, #fxa-toolbar-menu-button, .tab-background-inner, .closing-tabs-spacer   {
     display: none !important;
}
#navigator-toolbox {
     background-color: var(--bg-color) !important;
}
#nav-bar {
     max-height: 35px !important;
     background-color: var(--bg-color) !important;
}
#PanelUI-button {
     border-color: var(--bg-color) !important;
     border-image-source: none !important;
}

#urlbar[focused] {
      border: -1px solid #000000;
}

#urlbar #urlbar-background {
     margin: 4px !important;
     background-image: none !important;
     border: 0px solid var(--bg-color) !important;
     background-color: var(--bg-color) !important;
     border-radius: 16px !important;
}
#urlbar[focused] #urlbar-background {
     background-color: var(--bg-color) !important;
     box-shadow: none !important;
     border: none !important;
}

#urlbar[focused] > #identity-box {
     fill: #3eb489 !important;
     fill-opacity: 1 !important;
}

#identity-box[pageproxystate="valid"].verifiedDomain > #identity-icon, #identity-box[pageproxystate="valid"].verifiedIdentity > #identity-icon {
     fill: #8fbcbb !important;
     fill-opacity: 1 !important;
}
#identity-box:active {
     fill: var(--fill-color)!important;
     fill-opacity: 1 !important;
}
#identity-box, .tracking-protection-icon-box {
     fill: var(--lwt-toolbarbutton-icon-fill) !important;
     fill-opacity: 1 !important;
}
#tabs-newtab-button {
     display: none !important;
}


.urlbarView-body-inner, .search-one-offs {
     border: none !important;
}
.urlbarView-row[aria-selected=true] .urlbarView-row-inner {
     background-color: var(--selected-url-bg) !important;
     color: var(--selected-url-fg) !important;
     border-radius: 4px !important;
}
#identity-icon {
     fill-opacity: 1 !important;
}
#identity-icon:-moz-window-inactive {
     fill-opacity: 0.2 !important;
}

/*#3eb489*/
